.footer-section {
  display: flex;
  justify-content: space-around;
  background: rgb(70, 69, 69);
  margin-top: 2rem;
  color: white;
  line-height: 1.5rem;
}

.footer-section a {
  display: block;
  color: white;
  text-decoration: none;
}

footer {
  background: rgb(70, 69, 69);
  padding: 1rem 0;
}

.copyright {
  color: white;
  background: black;
  padding: 1rem 0;
}

.copyright > * {
  margin-left: 9.5%;
}
