.footer-section {
  display: flex;
  justify-content: space-around;
  background: rgb(51, 51, 51);
  margin-top: 2rem;
  color: white;
}

.footer-section a {
  display: block;
  color: white;
}

footer {
  background: rgb(51, 51, 51);
  padding: 1rem 0;
}
